---
import { IFancyButtonDetails } from "@types";
const { buttonDetail } = Astro.props as IFancyButtonDetails;
const { text, icon, url, gradient, shadow } = buttonDetail;
import { Icon } from "astro-icon";
---

<div
	class=`p-[3px] rounded-[4px] transition duration-350 ease-in-out ${gradient} ${shadow}`
>
	<a
		class=`flex dark:text-white cursor-pointer`
		href={url}
		aria-label="Link"
		target="_blank"
	>
		<div
			class=`flex justify-center gap-x-2 py-3 w-48 h-12 bg-white dark:bg-black hover:bg-transparent dark:hover:bg-transparent	 hover:text-white`
		>
			<Icon name={icon} width="22" />
			{text}
		</div>
	</a>
</div>
