---
import { IFancyButtonDetails } from "@types";
const { buttonDetail } = Astro.props as IFancyButtonDetails;
const { text, icon, url, strartColor, midColor, endColor } = buttonDetail;
import { Icon } from "astro-icon";
---

<div
	class=`p-[3px] rounded-[4px] bg-gradient-to-r from-[${strartColor}] via-[${midColor}] to-[${endColor}]`
>
	<div class="flex gap-x-2 py-3 px-7 bg-white dark:bg-black">
		<a
			class="flex gap-x-2 dark:text-white cursor-pointer"
			href={url}
			aria-label="Link"
			target="_blank"
		>
			<Icon name={icon} width="20" />
			{text}
		</a>
	</div>
</div>
